body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, arial;
}
/**** Default style for App component ****/
.App {
  text-align: center;
}
.App-logo {
  position: relative;
  -webkit-animation: bottom-up-animate 0.8s;
  animation: bottom-up-animate 0.8s;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
/**** Page with rendered list of boxes ****/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/**** Add box form ****/
form.add-box {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7;
}
form.add-box .error-text {
  color: red;
}
form.add-box h2 {
  background: #3DAD3A;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
form.add-box input,
form.add-box textarea,
form.add-box select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
form.add-box input:focus,
form.add-box textarea:focus,
form.add-box select:focus {
  box-shadow: 0 0 5px #3DAD3A;
  padding: 3%;
  border: 1px solid #3DAD3A;
}
form.add-box input[type="submit"],
form.add-box button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #3DAD3A;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
form.add-box input[type="submit"]:hover,
form.add-box button:hover {
  background: #2EC929;
}
.box-create-fail,
.box-created-successfully {
  font-size: 17px;
  padding: 12px;
}
.box-created-successfully {
  background: #196815;
  color: #21fe24;
  -webkit-animation: fading-in-out-animate 4s;
  animation: fading-in-out-animate 4s;
}
.box-create-fail {
  background: #ca0000;
  color: #ffffff;
  padding: 12px;
  -webkit-animation: bottom-up-animate 0.8s;
  animation: bottom-up-animate 0.8s;
}
/** List table **/
.box-list {
  padding: 1em;
}
table {
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: .35em;
}
table tr:last-child {
  background: #dbdbdb;
  border: none;
  padding: .35em;
}
table tr:last-child th:nth-child(3),
table tr:last-child th:first-child {
  background: #ffffff;
  border: none;
}
table th {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table tr:last-child th {
    border: none;
  }
  table tr:last-child th:nth-child(3):before,
  table tr:last-child th:first-child:before {
    content: "Total:";
  }
}
@-webkit-keyframes bottom-up-animate {
  from {
    margin-bottom: -300px;
    opacity: 0;
  }
  to {
    margin-bottom: 0px;
    opacity: 1;
  }
}
@keyframes bottom-up-animate {
  from {
    margin-bottom: -300px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fading-in-out-animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fading-in-out-animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
